@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*Normalizacion del sitios*/
*,
*::before,
*::after
{
    margin: 5px;
    padding: 0;  
    box-sizing: border-box; /*comportamiento de margen y rellenos*/
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%; /*es un standart por el tamaño asignado al font size uso de em y rem*/
    color: #1111;
}

/*Nomalizacion de enlaces*/
a{
    text-decoration: none; 
    font-size: 20px;
    /* font-size: inherit; */
    color: inherit;
}

header,
footer{
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

/*Normalizacion de listas*/
ul, ol {
    list-style-type: none;
}




body{
    background:#f1faff;
}

.navbar-nav .nav-link:hover {
    color: #A60A43;
    font-weight: bold;
    font-size: 15px;
  }
  
  .list-inline a {
    text-decoration: none;
    color: white;
    
  }
  
  .list-inline a:hover {
    color: #A60A43;
    font-weight: bold;
  }

main{
    padding:0px;
    margin:10%;
}


.tadopciones{
    padding: 35px;
    text-align: center;
    font-size: 40px;
    background-size: 40px;
    text-decoration:none;
    font-weight: 60px;
    font-size: 20px;
    color:#111111;
    border-color: #131010;
    border-width: 0px;
    border-style: solid;
    border-radius:35px;
    display:flow-root; 
    
}

.tadopciones h3{
    font-weight: bold;
    background-size: auto;
}
   
.tadopciones h1{
    text-transform:initial;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #f20505 29%,
        #bf4e78 67%,
        #a60a43 100%
    );
    background-size: auto auto;
    background-clip:content-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-transform:initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display:grid; 
            
    }

        @keyframes textclip {
        to {
            background-position: 200% center;
        }
    
}

.adopciones{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width: 1400px;
    margin: 0; 
    padding-bottom: 90px;
}

.ccard{
    position:relative;
    width:250px;
    height: 250px;
    margin: 15px;
}

.ccard .card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.ccard .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
} 

.ccard .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ccard .front h3{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    color: #ffff;
    background: rgba(0, 0, 0, 0.2);
    line-height: 45px;
    text-align: center;
} 

.ccard .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(80, 1, 1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10 px #000;
}

.ccard .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 5px;
}

.ccard .back .link a{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#83807a;
    border-color: #131010;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.ccard .back h3{
    font-size: 20px;
    margin-top: 20px;
    color: white;
    letter-spacing: 2px;
}

.ccard .back p{
    letter-spacing: 1px;
    color: white;
}

.ccard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.ccard:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.ec{
    padding: 40px;
    background-color: #350202;
    border-radius: 15px;
}


.ttienda h1 {
    font-style:oblique rgb(255, 255, 255); 
    text-align: center;
    font-weight: bold;
    font-size: 35px; 
    background: #f8f6f6;  
    -webkit-background-clip: text; 
    -moz-background-clip: text;     
    color: transparent; 
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4),0px -1px 1px rgba(255, 255, 255, 0.3); 
}

.ttienda h3 {
   padding: 10px;
    font-size: 20px;
    color: #fff;
}

.tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
    color: #fff;
    max-width: 100%;
}

.accesorios{
    border-radius: 10px;
    box-shadow: 0 3px 10px #a09e9e;
    overflow: hidden;
    width: 250px;    
    height: 100%;
}

.accesorios:hover img{
    transform: scale(1.1);
    transition: all 0.5s;
}

.accesorios img {
    width:100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

.accesorios h2{
    padding: 15px 30px;
    /* line-height: 1; */
    overflow: hidden;  
}

.accesorios p{
    padding: 15px 30px;    
}

.accesorios a{
   display: flex;
   border: none;
   background: none;
   justify-content: center;
   background-color: rgb(15, 14, 14);
   padding: 15px 12px;
   cursor: pointer;
}
