@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*Normalizacion del sitios*/
*,
*::before,
*::after
{
    margin: 0px;
    padding: 0;  
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 62.5%; es un standart por el tamaño asignado al font size uso de em y rem */
    color: #1111;
}

a{
    text-decoration: none; 
    font-size: 20px;
    /* font-size: inherit; */
    color: inherit;
}

ul,ol {
    list-style-type: none ;
}

p{
    font-size: 18px;
    padding: 0;
    color: white;
}


body{
    background:#f1faff;
}

.navbar-nav .nav-link:hover {
    color: #A60A43;
    font-weight: bold;
    font-size: 15px;
}

.nav-link a {
    font-size: 15px;
}
  

.form-registro {
    max-width:fit-content ;
    background: #e9edf1;
    padding: 30px;
    margin: 100px;
    margin-top: 100px;
    border-radius: 4px;
    color: rgb(13, 12, 12);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #c1c9d1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c5461f;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(11, 11, 11);
  }
  
  .form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #000;
  }
  
  .form-registro a {
    color: rgb(11, 11, 11);
    text-decoration: none;
  }
  
  .form-registro a:hover {
    color: rgb(7, 7, 7);
    text-decoration: underline;
  }
  
  .form-registro .botons {
    width: 100%;
    background: #1372ee9e;
    border: none;
    padding: 12px;
    color: rgb(10, 10, 10);
    margin: 16px 0;
    font-size: 16px;
  }