*{
    margin: 0;
    padding: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 14px;
	text-align: center;
}

a {
	text-decoration: none;
}
.banner {
	background-image: url("https://img.freepik.com/vector-premium/patas-gato-diseno-plano-fondo-blanco-negro-fondo-pantalla-patas-gato-lindo-ilustracion-vectorial_623474-154.jpg");
	border-bottom: solid 1px;

}
header {
	border-bottom: solid 1px;
}

footer {
	bor