<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/*Normalizacion del sitios*/
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; /*comportamiento de margen y rellenos*/
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%; /*es un standart por el tamaño asignado al font size uso de em y rem*/
    color: #1111;
}


/*Nomalizacion de enlaces*/
a{
    text-decoration: none; 
    font-size: 20px;
    font-size: inherit;
    color: inherit;
}

header,
footer{
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*Normalizacion de listas*/
ul,ol {
    list-style-type: none ;
}

/*Normalizacion Parrafos*/
p{
    font-size: 18px;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
>>>>>>> sshop
