@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;400&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
:root{
    
    /*Paleta de diseño*/
--primary-solid: #ff3333;
--primary-900: rgba(255,51,51,0.9);
--primary-500: rgba(255,51,51,0.5);
--primary-300: rgba(255,51,51,0.3);

--secondary-solid: #1D84b5;
--secondary-900:rgba(29,132,181,0.9);
--secondary-500:rgba(29,132,181,0.5);
--secondary-300:rgba(29,132,181,0.3);

--dark-solid: #1f1f1f;
--dark-900: rgb(31,31,31,0.9);
--dark-500: rgb(31,31,31,0.5);
--dark-300: rgb(31,31,31,0.3);

--dark-bg-solid: #30343f;
--light-bg-solid: #fafafa;
--light-font-solid: #ffffff;

/*Tipos de letras*/

--base-font:'Inter', sans-serif;
--alternative-font: 'Releway', sans-serif;

/*Tamaño de letra*/
--font-display: 4.6em;
--font-jumbo: 3.8em;
--font-xlarge:3em;
--font-large:2.4em;
--font-medium: 1.8em;
--font-small: 1.6em;
--font-xsmall:1.4em;

/*Espaciadores*/
--spacing-128:12.8rem;
--spacing-68:6.8rem;
--spacing-36:3.6rem;
--spacing-28:2.8rem;
--spacing-24:2.4rem;
--spacing-20:2.0rem;
--spacing-16:1.6rem;
--spacing-12:1.2rem;
--spacing-8:0.8rem;

}

*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,ol {
    list-style-type: none;
}

p{
    font-size: 1.8em;
}

img{
    width: 100%;
}

.container{
    max-width:1200px;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(5,1fr);
}

/*Header*/

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16) ;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover{
    background-color: var(--primary-900);
    
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid)
}

.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size:var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover{
    background-color: var(--primary-900);
}

.container >.main-container{
    grid-column: span 4;
}

.sidebar{
    max-width: 300px;
    width: 100%;
}

/*Aside*/



.aside__filter {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-68) 0;
    padding:  var(--spacing-24);
}

.aside__filter {
    gap: var(--spacing-20);
}

.aside__text,
.aside__select {
    font-family: var(--base-font);
    font-size: var(--font-large);
    text-transform: uppercase;
    font-weight: 500;
}

.aside__input {
    padding: var(--spacing-8) ;
}

.aside__select--number {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-xsmall);
    text-transform: uppercase;
}

.aside__minmax {
    width: auto; 
}

#form-precio-min {
    width: 25%;
    font-size: var(--font-xsmall);
    text-align: center;
}

#form-precio-max {
    width: 25%;
    font-size: var(--font-xsmall);
    text-align: center;
}


/*Products*/
.product{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-24); 
} 

.product__collection{
    display: flex;  
    padding: var(--spacing-36);
    margin:var(--spacing-68) auto;
} 

.product__item{   
    display: flex;  
    gap: var(--spacing-24);      
}


.card-item__cover{
    display: flex;
    position:relative;   
}

.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
   }

.card-item__cover .card-item__img--back{
    display: none;
}

.card-item__cover:hover .card-item__img--back{
    display: block;
}

.card-item__cover:hover .card-item__img--front{
    display: none;
}

.card-item__content{ 
   display: flex;
   flex-direction: column;
   gap:var(--spacing-8); 
   padding: var(--spacing-12);     
}

.card-item__license{
    font-size: var(--font-small);
    font-weight: 500;
}

.card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
}
.card-item__price{
    font-size: var(--font-small);
}

.card-item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

/*Footer*/
.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.footer__copy{
    margin-top: var(--spacing-36);
    text-align: center;
}

/*Paginacion*/

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
     }
  
  .btns {
    display: flex;
    align-items: center;
    gap: 10px; 
    position:absolute; /* Espacio entre botones */
  }

.btn-red{
    height: 25px;
    width: 80px;
    margin-left: 200px;
    color: white;
    background-color: #FF3333;
  }

.btn-1{
    border: none;
    width: 44px;
    height:44px;
    color: white;
    background-color: #919EAB;
  } 

  .btn-2, .btn-3, .btn-4, .btn-5, .btn-6, .btn-7 , .btn-8{
    border: none;
    width: 44px;
    height:44px;
    color: #212B36;
  }

  btns:hover{

  }
  
  /* Estilos para los botones */
  .btns button {
    border-radius: 5px;
    cursor: pointer;
  }


/*Animation*/
@media (min-width: 768px) {
    .embed-responsive-16by9 iframe {
      width: 300px;
      height: 300px;
    }
  }
  @media (min-width: 960px) {
    .embed-responsive-16by9 iframe {
      width: 400px;
      height: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    .embed-responsive-16by9 iframe {
      width: 100%;
      height: auto;
    }
  }
  