<%- include('partials/headerS') -%>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ITEM</title>
        <link rel="stylesheet" href="./../../css/item.css" /> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    </head>

    <body>
    
        <main  class="main-carrito container">
        <section style="display: grid;">
                <p style="align-items: center;margin-top: 10%;color: blue; font-size: 50px; width: 300; ">Recurso no Encontrado</p>
                    
                <img style=" width: 500px;"
                    class="funko__img"
                    src="../../img/star-wars/baby-yoda-1.webp"
                    alt="Baby Yoda Blueball - Producto de Star Wars"
                />
            </section>    
        </main>

                <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <%- include('partials/footerS') -%>
        <script src="../../javascript/cart.js"></script>
        <script src="../../javascript/menuhamb.js"></script>
    </body>
</html>