<footer class="footer" >
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="./../../shop/shop.html">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./../../Admin/createUser.html">REGISTRARSE</a>
            </li>
            <li>
                <a class="navbar__link" href="./../../Admin/login.html">LOGIN</a>
            </li>
            <li>
                <a class="navbar__link" href="./../../pages/contacto.html">CONTACTO</a>
            </li>       
        </ul>
        <picture>
            <img src="./../../img/isotype.svg" alt="Isotipo de la marca">
        </picture>
    </nav>
    
    <p class="footer__copy">All rights reserved 2023 - Funkoshop</p>
</footer>
    
